<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bitoad.cavok" version="0.1.0">
  <name>CAVOK</name>
  <description>
    Mass and balance charts for CAVOK's fleet
  </description>
  <access origin="*" />
  <author email="services@bitoad.com" href="https://bitoad.com">
    Bitoad Team
  </author>
</widget>
